<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 


    <style>
        .fonte{
            font-family: 'Indie Flower', cursive;
        }
        h2{
            padding-top: 110px;
        }
        .titulo-livro{
            font-family: 'Indie Flower', cursive;
            font-size: 30px;
            padding-top: 70px;
        }

    </style>
    <title>Gustavo GP</title>   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand fonte" style="font-size:40px;" href="#">G</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Exemplos</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
    </nav>

<div class="container">
<h1>Bem vindo a minha humilde API</h1>
<p>para acessa-la</p>
<p>
    <a href="https://primeira-api-django.herokuapp.com/musics/">https://primeira-api-django.herokuapp.com/musics/</a>
</p>

<p>
    <a href="https://primeira-api-django.herokuapp.com/programador/">https://primeira-api-django.herokuapp.com/programador/</a>
</p>
</div

    

    <footer>
        <small>
            &copy; 
            Copyright 2020     <a href="https://mail.google.com/mail/?view=cm&fs=1&to=gusgurtavo@gmail.com&su=assunto do email&body=Escreva aqui sua pergunta&bcc=informe aqui seu email" target="_blank">
                gusgurtavo@gmail.com
            </a>
        </small>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--
        <script src="script.js"></script>
    -->
</body>
</html>